// Colours ---------------
$button-dark: #282932;
$button-hover: #525355;
$button-highlight: #30ac6d;
$AC-bg: #fcd609;
$AC-hover: #ffeb7b;
$operator-color: #fa9427;
$operator-hover: #ffc180;

.calc-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  padding: 15px;
}

// Generic Button Styling
button {
  height: 60px;
  font-size: 2.5rem;
  color: white;
  background-color: $button-dark;
  border-radius: 10px;
  // border: 1px solid #c4c4c4;
  border: none;
}

button:hover {
  background-color: $button-hover;
}

.operator {
  color: $button-highlight;
}

// Specific button styling
.equal-sign {
  height: 100%;
  color: $button-highlight;
  border-color: #c4c4c4;
  grid-area: 2 / 4 / 6 / 5;
}
