// Colours ---------------
$text: #333;
$AC-bg: #fcd609;
$AC-hover: #ffeb7b;
$operator-color: #fa9427;
$operator-hover: #ffc180;

.calc-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

// Generic Button Styling
button {
  height: 60px;
  font-size: 2.5rem;
  color: #333;
  background-color: #fff;
  background-color: transparent;
  border-radius: 10px;
  border: 1px solid #c4c4c4;
}

button:hover {
  background-color: #d6d6d6;
}

.operator {
  color: black;
  background-color: $operator-color;
}

.operator:hover {
  background-color: $operator-hover;
}

// Specific button styling
.all-clear {
  background-color: $AC-bg;
}

.all-clear:hover {
  background-color: $AC-hover;
}

.equal-sign {
  height: 100%;
  background-color: $AC-bg;
  border-color: #c4c4c4;
  grid-area: 2 / 4 / 6 / 5;
}

.equal-sign:hover {
  background-color: $AC-hover;
}
