.calc-mini-display {
  width: 100%;
  font-size: 1.6rem;
  height: 30px;
  border: none;
  background-color: transparent;
  color: white;
  text-align: right;
  padding-right: 25px;
  padding-left: 10px;
  padding-top: 10px;
}
