$calc-bg: #1d2129;
$main-bg: #303238;

html {
  font-size: 62.5%;
  box-sizing: border-box;
  background-color: $main-bg;
  // background: linear-gradient(black, white);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calc {
  background-color: $calc-bg;
  border: 1px solid transparent;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}
